/* ===== Google Font Import - Poformsins ===== */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

#root{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}

body{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(-45deg, #000000, #535151, #865175) 
}

.container{
    position: relative;
    background:  #865175;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    overflow: hidden;
}

.forms{
    display: flex;
    align-items: center;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0.5px 10px #fff;
    transition: height 0.2s ease;
   }


.form{
    padding: 9rem 1rem 1rem 1rem;
    background-color: rgb(247, 247, 247);
    transition: margin-left 0.18s ease;
}



.title{  
    position: relative;
    font-size: 25px;
    font-weight: 600;
}

.title::before{
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    background-color: #794e73;
    border-radius: 25px;
}

.input-field{
    position: relative;
    height: 50px;
    width: 100%;
    margin-top: 30px;
}

input{
    position: relative;
    height: 100%;
    width: 100%;
    padding: 0 30px;
    border: none;
    outline: none;
    font-size: 16px;
    border-bottom: 2px solid #ccc;
    border-top: 2px solid transparent;
    transition: all 0.2s ease;
}


input:is(:focus, :valid){
    border-bottom-color: #865175;
}


.button input{

    border: none;
    color: #fff;
    font-size: 17px;
    font-weight: 500;
    letter-spacing: 1px;
    border-radius: 6px;
    background-color: #865175;
    cursor: pointer;
    transition: all 0.3s ease;
}

.button input:hover{
    background-color: #85637a;
}




.containerTicket{
    border-radius: 10%;
    padding: 40px;
    background: #000000; 
}

.conteinerImgmiasInformacoes{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
  
}

.conteinerImgFormat{
    border-radius: 50%;
    border: 4px solid #865175

}

.conteinerInformacoesNumero{
    position: relative;
    top: 15px;
    left: 72px;
}


.conteinerInformacoesColor{
   color: #fff;
}

.imgLogo{
    position: relative;
    height: 300px; 
   
}

.imgLogo2{    
    position: absolute;
    width: 150;
    height: 200px;
    top: 5%
}
.colar{
    background-color: #fff;
    padding: 10px;
    border-radius: 100%;
}

iframe{
   position: absolute;
   height:100%;
   width: 90%;
   top: 70%

}


@media screen and (max-width: 600px) {
    .imgLogo{
     position: relative;
     height: 50px; 
    
    }

    .container{
        position: relative;      
        width: 100%;      
    }
    
    .forms{     
        height: 450px;
        width: 180%;
    }
    .imgLogo2{    
        position: absolute;
        width: 150;
        height: 150px;
        top: 1%
    }

    .containerTicket{
        border-radius: 5%;
        padding: 20px;
        font-size: 12px;
        margin-top: -40px;
        background: #000000;
    }

    
    iframe{
    position: absolute;
    height:100%;
    width: 90%;
    top: 60%
 
    }
 



}